 #editor-container {
    min-height: 300px;
    width: 950px;
    
}
#toolbar-container {
    margin-bottom: 10px;
}
.ql-editor img {
    max-width: 100%; /* 이미지의 최대 너비 설정 */
    height: auto; /* 높이 자동 조정 */
    cursor: pointer; /* 커서 모양 설정 */
}
#editor-container > * {
    word-wrap: break-word; /* 긴 단어를 자동으로 줄바꿈하여 컨테이너 너비를 초과하지 않도록 설정 */
	word-break: break-all; /* 단어가 컨테이너 너비를 초과할 경우 임의의 위치에서 줄바꿈 */
	white-space: normal; /* 일반적인 공백 처리를 하여 텍스트가 자동으로 줄바꿈되도록 설정 */
}
